* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Full height */
    position: relative;
}

#bg-video {
    position: absolute; /* Position video absolutely */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire viewport */
    z-index: -1; /* Send video to back */
}

h1 {
    font-size: 2.5rem;
    margin-top: 0px;
    padding: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff; /* Heading color */
    text-shadow: 2px 4px 0 rgba(7, 80, 214, 0.5);
}



h3{
    font-size:1.3rem;
    margin-top: 40px;
    margin-right: 6px;
   
    text-align: center;
    color: #fff; /* Heading color */
    text-shadow: 2px 4px 0 rgba(7, 80, 214, 0.5);
}

.github-link{
    display: flex;
    justify-content: center;
    margin-right: 0;
}


.github-link a{
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 0px;
    padding-right : 40px;
    padding-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff; /* Heading color */
    text-shadow: 2px 4px 0 rgba(7, 80, 214, 0.5);
}

.card-row {
    display: flex; /* flexbox for alignment */
    justify-content: space-around;
    width: 80%; /* Width of the container */
    height: auto;
}



.contact-card {
    position: relative; /* Required for pseudo-elements */
    padding: 20px; /* Padding inside the card */
    border: 3px solid #fff; /* Initial border */
    border-radius: 30px; /* Rounded corners */
    
    color: #fff; /* Change text color to white for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Shadow for depth */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
    /* overflow: hidden; Ensure text doesn't overflow */
    height: 180px;
    width: 400px; /* Set a fixed width for the cards */
    text-align: center;
    margin-top : 20px;
    margin-bottom: 50px;
    margin-left: 270px;
    margin-right: 60px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.third-card{
    display: flex;
    align-items: center;
    padding-left : 500px;
    margin: 0
}

.contact-card h3,
.contact-card h4,
.contact-card p {
    margin: 5px 0; /* Margin for text */
}

/* Animation for moving border */
.contact-card::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px; /* Same as card */
    background-image: linear-gradient(270deg, violet, purple, blue, skyblue);
    background-size: 400%; /* Size for smooth animation */
    animation: glowingBorder 5s linear infinite; /* Animation effect */
    z-index: -1; /* Behind the card */
}

/* Keyframes for border animation */
@keyframes glowingBorder {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Hover effect */
.contact-card:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    background-color: rgba(19, 139, 225, 0.5); /* Changes background on hover */
    box-shadow: 0 0 20px rgba(5, 143, 213, 0.8); /
}


/* sidebar */
/* Sidebar Styles */
.icon-container {
    position: fixed; /* Position the icon absolutely */
    top: 20px;         /*  top position */
    left: 20px;        /*  left position */
    z-index: 1000;       /* above other content */
}

.icon-container i {
    font-size: 2.7em;   /* Adjust size of the icon */
    color: #fff;      /* Change color to match your design */
    cursor: pointer;   /* Change cursor to pointer on hover */
    font-weight: 800;
    font-style: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    animation: forward-backward 2s infinite ease-in-out, zoom 1s infinite ease-in-out;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth hover transition */
}

.icon-container i:hover {
    transform: scale(1.2);  /* Slightly increase size on hover */
    color: #1085f3;         /* Changes color to a brighter shade on hover */
}




/* Bounce animation */
@keyframes zoom {
    0%, 100% {
        transform: scale(1.2); /* Normal size */
    }
    50% {
        transform: scale(1.4); /* Zoom in */
    }
}

@keyframes forward-backward {
    0%, 100% {
        transform: translateZ(0); /* Neutral position */
    }
    50% {
        transform: translateZ(30px); /* Move forward (towards the user) */
    }
}

/* to hide fixed things when sidebar is open */
.hidden {
    opacity: 0; /* Hide the elements */
    pointer-events: none; /* Prevent clicking when hidden */
    display: none;
}
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%); /* Center the video */
    z-index: -1;
}
.sidebar {
    width: 0; /*  width of the sidebar */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
    color: #ffffff; /* Text color */
    position: fixed; /* Fixed positioning */
    top: 0; /* Align to top */
    left: -3000px; /* Initially hidden off-screen */
    transition: left 0.3s ease; /* Smooth transition for opening */
    z-index: 999; /*  it appears above other content */
    padding: 20px; /* Add padding */

}

.sidebar.active {
    width: 100%; /*  width of the sidebar */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
    color: #ffffff; /* Text color */
    position: fixed; /* Fixed positioning */
    top: 0; /* Align to top */
    left: 0; /* Initially hidden off-screen */
    transition: left 0.3s ease; /* Smooth transition for opening */
    z-index: 999; /* it appears above other content */
    padding: 20px; /* Add padding */
}


.sidebar-header {
    display: flex; /* Flexbox for header layout */
    justify-content: space-between; /* Space between title and button */
    align-items: center; /* Center vertically */
}

.sidebar-header h1{
    
   
        font-size: 4em;
        font-weight: 800;
        color: #ffffff;
        text-shadow: 3px 6px 0 rgba(11, 121, 247, 0.7);
        /* overflow: hidden; */
        white-space: nowrap;
        
}

.close-btn {
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: #ffffff; /* Close button color */
    font-size: 3.5em; /* Size of close button */
    cursor: pointer; /* Pointer cursor */
}

.menuitems-img {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center the items */
    margin: 50px 0; 
}

.menu-list {
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center items */
    align-items: center; /* Center items vertically */
    margin: 20px; 
    flex-wrap: wrap; /* Allow items to wrap */
}

.menu-item {
    position: relative; /* Position relative for absolute positioning of text */
    border-radius: 10px; 
    /* overflow: hidden; text doesn't overflow */
    flex: 1 1 300px; /* it Allow menu items to grow and shrink, minimum size of 150px */
    margin-right : 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}






.menu-item img {
    width: 230px; /* Full width of the container */
    height: 230px; /* Fixed height for images */
    border-radius: 50%;
    object-fit: cover; /* Cover the area */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    margin: 20px 0;
    box-shadow: 6px 6px 2px rgba(21, 23, 26, 0.7);
}

.menu-item:hover img {
    transform: scale(1.25); /* Zoom effect on hover */
}

.menu-item a {
    text-decoration: none; /* Remove underline */
    font-size: 2em; /* Adjust font size */
    color: #ffffff; /* Text color */
    font-weight: 800; /* Bold text */
    text-shadow: 3px 4px 0 rgba(11, 121, 247, 0.3);
    white-space: nowrap; /* Prevent line breaks */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
    text-align: center; /* Center text horizontally */
    margin-top: 10px; /* Space between image and text */
    position: absolute;
    top: 40%;
}


.menu-item a:hover {
    font-size: 2.5em;

}
